<body>
<form action="/weather" method="POST">
    <input type="text" name="cityName" placeholder="Enter the city name">
    <button type="submit">Submit</button>
</form>
 <h3>{{weatherText}}</h3>
  </body>